*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #ffffff;
  --text-color:#DEAA79;
  --btn-color:#DEAA79;
  --text-btn:#000000;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}
.dark-theme {
  --bg-color: #000000;
  --text-btn: #ffffff;
  --text-color:#DEAA79;
  --btn-color:#DEAA79;
}
.container{
  padding: 0 20px;
  margin: auto;
}
@media (min-whidth:768px) {
  .container{
    width:750px
  }
}
@media (min-whidth:992px) {
  .container{
    width:970px
  }
}
@media (min-whidth:1200px) {
  .container{
    width:1190px
  }
}
img{
  max-width: 100%;
}
a{
  text-decoration: none;
}
header{
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a{
  font-size: 30px;
  font-weight: bold;
  color: var(--text-color);
}
header img{
  cursor: pointer;
  width: 50px;
}
@media (min-width:992px) {
  .search {
    text-align: center;
    padding:60px;
  }
}

.user-data .avatar{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;

}
.search .user-data .avatar img {
  width: 250px;
  border-radius: 50%;

}
.search .user-data .avatar h1 {
  margin: 15px 0 ;
  font-size: 30px;
  font-weight: bold;
}
.search .user-data .avatar a{
  color: #806246;
  font-size: 18px;
font-weight: bold;
}

.search .user-data .user-repos {
 display: flex;

}
.search .user-data .user-repos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 10px 35px;
  margin-top: 20px;
}
.search .user-data .repo {
  padding: 10px;
  border-radius: 4px;
  color: #806246;
  margin-bottom: 10px;
  background-color: var(--btn-color);
}
.search .user-data a {
  display: block;
  line-height: 1.6;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: var(--text-color);
}